.header__menu-element {
  margin: 0 100px 0 0;
  width: 100px;
  height: 20px;
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  
}

.header__menu-element:last-of-type {
  margin-right: 0;
}
