.logo {
  height: 70px;
  width: 100px;
  margin: 0;
  background-image: url(../../../images/logo-small.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}