.watch__background-pic {
  height: 600px;
  width: 100%;
  margin: 0;
  filter: brightness(65%);
  background-image: url(../../../images/watch-background-pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}