.watch__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100px;
  width: auto;
  margin: 0 50px 0 0;  
}

.watch__card:last-of-type {
  margin-right: 0;
}