.footer {
  min-height: 100px;
  padding: 30px 0;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #121214;
}