.watch__iframes {
  display: flex;
  width: auto;
  min-height: 200px;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  position: absolute;
  top: 107px;
  right: 50px;
  z-index: 1;
}